<div class="d-flex justify-content-center mt-5">
    <div class="home-page-icon-container justify-content-center align-items-center d-flex">
         <div class="home-page-icon-inner-container justify-content-center align-items-center d-flex">
            <%= image_tag "favicon.ico", class: "w-75 h-75" %>
        </div>
    </div>
</div>
<h1 class="text-center">Say something</h1>
        <div class="row m-3">
            <div class="col-10">
                <div class="message-box border border-secondary rounded ">
                   <div class="p-3">
                    <% @messages.each do |m|%>
                    <%= render "message" , message: m%>
                    <% end %>
                   </div>

                    <div class="main-message-form">
                        <%= form_with model: @message, url: message_path do |form| %>
                            <div class=" m-3">
                                <div class="input-group mb-3">
                                <%= form.text_field :body,class: "form-control ", placeholder: "Enter Message"  %>
                                <%= form.button  class: 'btn btn-outline-secondary bg-warning' do %>
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                <% end %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                                        
                </div>
            </div>
            <div class="col-2">
                <div class="message-box border border-secondary rounded p-2">
                    <ul class="list-group">
                        <li class="list-group-item bg-dark text-white">Online Users</li>
                        <li class="list-group-item bg-dark text-white">An item</li>
                        <li class="list-group-item bg-dark text-white">An item</li>
                        <li class="list-group-item bg-dark text-white">An item</li>
                    </ul>
                </div>
            </div>
        </div>
</div>